target/
build/
out/
.gradle/
/bin/

# Spring Boot Specifics & Secrets
.sts4-cache/
.springBeans/
*.log
logs/
.env
.env.local
*.properties.local
*.yml.local

.vscode/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



